include /common/header.html

div.board_list.auto-center
  h3= "총 게시물 수 : " + data.listNum
  table(width="100%")
    colgroup
      col(width="10%")
      col(width="60%")
      col(width="15%")
      col(width="15%")
    thead
      tr
        th 번호
        th 제목
        th 작성자
        th 작성일
    tbody
      each list in data.list
        tr
          td= list.idx
          td.al_l
            a(href="/board/post/" + list.idx)= list.commentNum > 0 ? list.subject + " ["+list.commentNum+"]" : list.subject
          td= list.name
          td= list.date.replace('T', ' ').substr(0, 19)
  div.btn_group
    span 제목 검색:
    input#keyword(type="text" name="keyword" value=keyword)
    a.btn-submit#search(href="") 검색
    a.btn-default(href="/board/write") 작성
  div#PAGE_NAVI(style="margin:auto; display:table;")

script(type="text/javascript").
  var params = {
    divId : "PAGE_NAVI",
    pageIndex : "#{page_num}",
    totalCount : #{data.listNum},
    eventName : "/board/page/",
    keyword : "#{keyword}"
  };
  gfn_renderPaging(params);

  document.getElementById("search").addEventListener('click', function(e){
    e.preventDefault();
    fn_openBoardSearchList();
  });

  function fn_openBoardSearchList() {
    keyword = document.getElementById("keyword").value;
    location.href = "/board/page/1/" + keyword;
  }

include /common/footer.html
